.header-bg{
    background-color: #264653;
}
.gray-scale img{
    cursor: pointer;
    filter: grayscale(100%);
}

.gray-scale img:hover{
    filter: grayscale(0);
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
}